﻿
.docklet_container{
	background-color: #FFF;
	display: block;
	vertical-align: baseline;
	list-style-type: none;
	z-index: 300;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	visibility: visible;
	bottom: 20px;
	height: 25px;
	position: fixed;
	right:0;
	z-index:300;
	width: 260px;
	height:320px;
	float: left;
	margin-right: 15px;
	border: 1px solid #666;
}
.sidebar_container {
    background-color: #FFF;
    display: block;
    vertical-align: top;
    list-style-type: none;
    z-index: 300;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    visibility: visible;
    height: 25px;
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: 301;
    width: 200px;
    height: auto;
    float: left;
    margin-right: 15px;
    border: 1px solid #666;
    margin-top: 0px;
}

.header_1 {
    font-weight: bold;
    background-color: #97C7FE;
    height: 24px;
    color: #FFF;
    padding-left: 8px;
    padding-top: 8px;
    border: 1px;
    border-color: #666;
    border-left-color: #666;
}

.hasNewMessages {
    background-color: #CCFF00;
}

.vdivider {
    height: 1px;
    margin-top: 8px;
    color: #333;
    clear: both;
    background-color: #EEE;
}

.messages{margin-left:8px}

.contactRow {
    margin-top: -5px;
}

.user_id_cell {
    margin-left: 8px;
}

.profileLink .profilePhoto {
    display: block;
    height: 32px;
    width: 32px;
    float: left;
    clear: left;
    margin: 5px 5px;
}

.profilePhoto {
    margin-left: 8px;
    margin-top: 8px;
}

._50dw .messages{
	margin-left:8px;
	float: left;
	margin-right: 15px;
	margin-bottom: 8px;
	width: 200px;
} 

.user_id_cell {
    margin-left: 8px;
    float: left;
    margin-right: 15px;
    margin-bottom: 8px;
    width: 200px;
}

.myChatConvItem .metaInfoContainer {
    visibility: hidden;
}

.myChatConvItem:hover .metaInfoContainer {
    visibility: visible;
}

.scroll_body_content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    border: 1px;
    border-color: #666;
}

._kso {
    text-align: left;
    word-wrap: break-word;
    width: 180px;
    top: 0px;
    font-size: 0.8em;
    margin-top: 10px;
}

._kso_r {
    text-align: right;
    word-wrap: break-word;
    width: 230px;
    top: 0px;
    font-size: 0.8em;
    margin-top: 10px;
}

.closeButton {
background-image: url(/content/buttons.png);
background-repeat: no-repeat;
background-size: auto;
background-position: -45px -383px;
margin-right: 3px;
width: 21px;

display: inline-block;
height: 25px;
margin-right: -1px;
vertical-align: top;

color: #3b5998;
cursor: pointer;
text-decoration: none;
margin-top: -5px;
position: relative;
float: right;
}

.minButton {
background-image: url(/content/buttons.png);
background-repeat: no-repeat;
background-size: auto;
background-position: -82px -420px;
margin-right: 3px;
width: 9px;

display: inline-block;
height: 14px;
margin-right: -1px;
vertical-align: top;

color: #3b5998;
cursor: pointer;
text-decoration: none;
margin-top: 0px;
position: relative;
float: right;
}

.chatMessageInput {
border-top: 1px solid #c9d0da;
cursor: text;
max-height: 77px;
overflow-x: hidden;
overflow-y: auto;
padding: 5px 49px 3px 5px;
position: relative;
}

.chatMessageInput textarea {
height: 13px;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-size: 11px;
max-width: 100%;
border: 0;
display: block;
height: 0;
margin: 0;
min-height: 16px;
outline: none;
padding: 0;
resize: none;
width: 100%;
}

.chatFooter {
background-color: #fff;
border: 1px solid rgba(0, 0, 0, .3);
border-width: 0 1px;
-webkit-background-clip: padding-box;
}

div.msgDate {
display: block;
font-size: 0.6em;
color: #CCC;
}