﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mpNoCSS.master" AutoEventWireup="true" CodeFile="GReferral.aspx.cs" Inherits="GReferral" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">




<h1>Select a user to add referral</h1>




        <table border="0" cellpadding="50" cellspacing="0" width="100%">
  <tr>
    <td width="50%" valign="top" align="left">
    



    <asp:TextBox ID="txtSearch" runat="server"></asp:TextBox>
&nbsp;<asp:Button ID="btnSearch" runat="server" onclick="btnSearch_Click" 
        Text="Search" />
        <br />
    <br />
    <asp:GridView ID="GV" runat="server" AutoGenerateColumns="False" onselectedindexchanged="GV_SelectedIndexChanged" 
            CellPadding="5" Width="418px" ShowHeader="False">
        <Columns>
            <asp:BoundField DataField="FirstName" />
            <asp:BoundField DataField="LastName" />
            <asp:TemplateField HeaderText="Picture">
                <EditItemTemplate>
                    <asp:TextBox ID="TextBox1" runat="server" Text='<%# Bind("Picture") %>'></asp:TextBox>
                </EditItemTemplate>
                <ItemTemplate>
                    <asp:Image ID="Image1" runat="server" 
                        ImageUrl='<%# FrmImg(Eval("Picture").ToString()) %>' Width="40px" />
                </ItemTemplate>
            </asp:TemplateField>
            <asp:BoundField DataField="PID" SortExpression="PID" >
            <HeaderStyle CssClass="hiddencol" />
            <ItemStyle CssClass="hiddencol" />
            </asp:BoundField>
        <asp:CommandField ShowSelectButton="True" />
        </Columns>
    </asp:GridView>






        <asp:Label ID="Label3" runat="server"></asp:Label>
        <br />
        <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Size="Medium" 
            ForeColor="#666666"></asp:Label>
        <br />
        <asp:Label ID="Label2" runat="server" Visible="False"></asp:Label>
        <br />






    <p>
        <asp:SqlDataSource ID="SqlDataSource_Referral" runat="server" 
            ConnectionString="<%$ ConnectionStrings:stdbConnectionString %>" 
            SelectCommand="SELECT [PID], [FirstName] FROM [P_Profile]">
        </asp:SqlDataSource>
        <asp:Button ID="btnReferral" runat="server" onclick="btnReferral_Click" 
            Text="Add Referrar" Font-Bold="True" Height="38px" />
    </p>
    
    
    </td>
  </tr>
  </table>


















<%--    <p>
        Membership Selection:</p>
    <p>
        <asp:RadioButtonList ID="rbtnlistMembership" runat="server" 
            RepeatDirection="Horizontal">
            <asp:ListItem Value="1">Silver Plan</asp:ListItem>
            <asp:ListItem Value="2">Gold Plan</asp:ListItem>
            <asp:ListItem Value="3">Platinum Plan</asp:ListItem>
        </asp:RadioButtonList>
    </p>
    <p>
        &nbsp;</p>
    <p>
        Referral:</p>
    <p>
        <asp:DropDownList ID="dpdReferral" runat="server" 
            DataSourceID="SqlDataSource_Referral" DataTextField="FirstName" 
            DataValueField="PID">
        </asp:DropDownList>
        <asp:SqlDataSource ID="SqlDataSource_Referral" runat="server" 
            ConnectionString="<%$ ConnectionStrings:stdbConnectionString %>" 
            SelectCommand="SELECT [PID], [FirstName] FROM [P_Profile]">
        </asp:SqlDataSource>
        <asp:Button ID="btnReferral" runat="server" onclick="btnReferral_Click" 
            Text="Referred By" />
    </p>
    <p>
        &nbsp;</p>
    <p>
        <asp:Button ID="btnSubmit" runat="server" onclick="btnSubmit_Click" 
            Text="Submit" />
    </p>
    <p>
        &nbsp;</p>--%>
</asp:Content>

