﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mpp.master" AutoEventWireup="true" CodeFile="PConnectSearch.aspx.cs" Inherits="PConnectSearch" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<script>
    function goBack() {
        window.history.back()
    }
 </script>
<h1>Connection Status</h1>
<br />
   <h3> <asp:Label ID="lblConnect" runat="server"></asp:Label> </h3>
<br /><br /><br />

   <input type="button" value="Go Back" onclick="goBack()" style="width: 129px">


</asp:Content>

