﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mpNoCSS.master" AutoEventWireup="true" CodeFile="PConnect.aspx.cs" Inherits="PConnect" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<h1>Connection Status</h1>
<br />
   <h3> <asp:Label ID="lblConnect" runat="server"></asp:Label> </h3>
</asp:Content>

