﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mpNoCSS.master" AutoEventWireup="true" CodeFile="PProfile_Video.aspx.cs" Inherits="PProfile_Video" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<h1>Video</h1>

<center>


        <asp:Label ID="lblVideo" runat="server"></asp:Label>





</center>

</div>
</asp:Content>

