﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mpNoCSS.master" AutoEventWireup="true" CodeFile="PProfile_Photo.aspx.cs" Inherits="PProfile_Photo" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<h1>Photo</h1>







    <div id="center">
        <asp:Image ID="Image1" runat="server" Width="300px" />
    </div>





    













</asp:Content>

