﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mpOut.master" AutoEventWireup="true" CodeFile="PSignupMembershipConfirmation.aspx.cs" Inherits="PSignupMembershipConfirmation" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Label ID="Confirmation" runat="server" Text=""></asp:Label>
    <br />
    <br />
    <a href="Default.aspx">Default.aspx</a><br />
    <br />
    <br />
    <br />
    <asp:Label ID="Label1" runat="server"></asp:Label>
&nbsp;
</asp:Content>

