﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PUpdateMembership.aspx.cs" MasterPageFile="~/mpp.master" Inherits="PUpdateMembership" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <table border="0" cellpadding="50" cellspacing="0" width="100%">
        <tr>
            <td colspan="2">
               <h2>Your membership is valid till:<asp:Label ID="lblMembershipValidity" runat="server"></asp:Label></h2>
                
                <asp:Label ID="lblWarning" ForeColor="Red" runat="server" Visible="false"></asp:Label>
            </td>
        </tr>
        <tr>
            <td width="50%" valign="top" align="left">
                <table border="1" cellpadding="5" cellspacing="0" width="800" bordercolor="#256EFF">
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                        </td>
                        <td width="25%" bgcolor="#C0C0C0" valign="top" align="center">
                            <b><font size="4">SILVER</font></b>
                        </td>
                        <td width="25%" bgcolor="#DA9100" valign="top" align="center">
                            <b><font size="4">GOLD</font></b>
                        </td>
                        <td width="25%" bgcolor="#E5E4E2" valign="top" align="center">
                            <b><font size="4">PLATINUM</font></b>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Companies Can Browse You</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Companies Can Interview You?</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            &nbsp;
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Unlimited Networking with professionals</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>50 limited Searches</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>5 limited Inmails</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Pre-Interview Video&nbsp; Capabilities</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Cover letter</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Resume</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Accomplishment and Skills</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Recommendations/Referrals</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>You Can Browse Companies</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            &nbsp;
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Key Words Will Automatically Link You With Companies</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            &nbsp;
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Email Capabilities&nbsp;<br>
                                (Inmail 25)</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            &nbsp;
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>100 Searches</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            &nbsp;
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Apply for Jobs</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            &nbsp;
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Portfolio</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            &nbsp;
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Chat</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            &nbsp;
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Yes
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Cover Letter Assistance</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Not available
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            <asp:CheckBox ID="CheckBox1" runat="server" AutoPostBack="True" />
                            Yes, additional $5
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Resume Assistance</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Not available
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            <asp:CheckBox ID="CheckBox2" runat="server" AutoPostBack="True" />
                            Yes, additional $5
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Pre-Interview Video Assistance</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Not available
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            <asp:CheckBox ID="CheckBox3" runat="server" AutoPostBack="True" />
                            Yes, additional $5
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Who’s Viewed You</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Not available
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Not available
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Unlimited Searches</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Not available
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Not available
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Email Capabilities (Inmail 50)</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Not available
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            Not available
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Job Verification</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Not available
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            <asp:CheckBox ID="CheckBox4" runat="server" AutoPostBack="True" />
                            Yes, additional $10
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            <asp:CheckBox ID="CheckBox5" runat="server" AutoPostBack="True" />
                            Yes, additional $10
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b>Pricing</b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            Free
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            <asp:DropDownList ID="DropDownList1" runat="server" AutoPostBack="True">
                                <asp:ListItem Value="14.99">$14.99/month</asp:ListItem>
                                <asp:ListItem Selected="True" Value="144.00">$144/annually</asp:ListItem>
                            </asp:DropDownList>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            <asp:DropDownList ID="DropDownList2" runat="server" AutoPostBack="True">
                                <asp:ListItem Value="24.99">$24.99/month</asp:ListItem>
                                <asp:ListItem Value="240" Selected="True">$240/annually</asp:ListItem>
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b><font size="4">Due Today</font></b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            <font size="4">$0.00</font>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            <font size="4">$<asp:Label ID="Label4" runat="server" Font-Size="Medium"></asp:Label></font>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            <font size="4">$<asp:Label ID="Label5" runat="server" Font-Size="Medium"></asp:Label></font>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                            <asp:ImageButton ID="btnSilver" runat="server" ImageUrl="images/signup-silver.gif"
                                OnClick="btnSilver_Click" />
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            <asp:ImageButton ID="btnGold" runat="server" ImageUrl="images/signup-gold.gif" OnClick="btnGold_Click" />
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            <asp:ImageButton ID="btnPlatinum" runat="server" ImageUrl="images/signup-platinum.gif"
                                OnClick="btnPlatinum_Click" />
                        </td>
                    </tr>
                      <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                            <b><font size="4">ADD ON Due Today</font></b>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                           
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                            <font size="4">$<asp:Label ID="Label1" runat="server" Font-Size="Medium"></asp:Label></font>
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            <font size="4">$<asp:Label ID="Label2" runat="server" Font-Size="Medium"></asp:Label></font>
                        </td>
                    </tr>
                      <tr>
                        <td width="25%" valign="top" align="center" bgcolor="#B7EDFF">
                       
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#E5E4E2">
                           
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#FFF9EA">
                         <asp:ImageButton ID="imageGoldAddon" runat="server" 
                                ImageUrl="images/signup-gold.gif" onclick="imageGoldAddon_Click"  />
                        </td>
                        <td width="25%" valign="top" align="center" bgcolor="#EFEEED">
                            <asp:ImageButton ID="imageAddon" runat="server" 
                                ImageUrl="images/signup-platinum.gif" onclick="imageAddon_Click"
                                 />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</asp:Content>
