﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mpg.master" AutoEventWireup="true" CodeFile="search.aspx.cs" Inherits="search" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<br /><br />
<h1>SEARCH USERS</h1>

<br /><br />

<h2>
<a href="PSearch.aspx"  class='iframe' >Search Professional Users »</a>
</h2>

<br /><br />

<h2>
<a href="BSearch.aspx"  class='iframe' >Search Businesses »</a>
</h2>

<br /><br />

<h2>
<a href="SSearch.aspx"  class='iframe' >Search Specialists »</a>
</h2>

<br /><br />

<h2>
<a href="ASearch.aspx"  class='iframe' >Search in Business Directory »</a>
</h2>





</asp:Content>

