body  {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color:#97C7FE;
    margin: 0px;
    padding: 0px;
}

.hiddencol
{
    display:none;
}

p{
	margin: 5px 0px 5px 0px;
}

h1 {
	font-size: 28px;
	color: #808080;
	margin: 5px 0px 10px 0px;
}


h2 {
	font-size: 22px;
	color: #808080;
	margin: 5px 0px 10px 0px;

}

h3 {
	font-size: 16px;
	color: #808080;
	margin: 5px 0px 10px 0px;
	font-family: Century Gothic, Arial Narrow;

}


.bigtext 
{
	font-size: 18px;
	color: #808080;
	margin: 0px 0px 5px 0px;  
}

div#content {
	width: 100%;
    margin: 0 auto;  
    background: #DDDDDD;
    position: relative;	

}

div#header {
    height: 70px;
    background: #97C7FE;
    text-align: center;
    padding-top: 20px;
    font-size: 42px;
    font-family: Century Gothic;
    font-weight: bold;
    width: 100%;
}


div#header a:link, div#header a:visited  
{
         
    text-decoration: none; 
    border: none;
    margin: 0px;		

}

div#navbarrwrppaer 
{

	background: #97C7FE; 
	width: 100%;
 
}

.navbar 
{
    margin: 0 auto;  
    width: 1090px;
	height: 20px;
	padding: 5px 10px 5px 0px;
	background-color: #97C7FE;
	text-align: right;
	color: #194CDE;
}

.navbar a:link, .navbar a:visited {
    font-family: Century Gothic;
	font-weight: bold;
	font-size: 15px;
    color: #194CDE;            
    text-decoration: none; 
    border: none; 
    margin: 0 20px 0 20px;
}

.navbar a:hover, .navbar a:active {
    color: #000000;  
}

.navbar a.current {  
    color: #000000;
}

.navbar a.current:hover {
    cursor: default;
}




div#mainwrppaer 
{
        padding: 0px;
        margin: 0px;
	background: #DDDDDD; 
	width: 100%;
 
}

div#main 
{
    width: 1100px;
    margin: 0 auto;  
	background: #DDDDDD; 
	padding: 20px 0px 20px 0px;
	min-height: 500px;    
}


div#footerwrppaer 
{
        
	background: #97C7FE; 
	width: 100%;
 
}


div#footer 
{
    height: 60px;
    width: 1100px;
    text-align: center;
    padding-top: 15px;	
    color: #333333;
    margin: 0 auto; 
 
}



div#footer a:link, a:visited
{
    color: #333333;
    text-decoration: none; 
    border: none;
    margin: 0px;    
}

div#footer a:hover
{
    color: #000000;
        text-decoration: underline; 
   
}


table#tb01{
border: 0px solid #FFFFFF;
}

table#tb01 th{
border: 0px solid #FFFFFF;
}

table#tb01 td{
border: 0px solid #FFFFFF;
}

table#tb01 tr{
border: 0px solid #FFFFFF;
}


table#tb02{
border: 0px solid #FFFFFF;
}

table#tb02 th{
border: 0px solid #FFFFFF;
}

table#tb02 td{
border: 0px solid #FFFFFF;
}

table#tb02 tr{
border: 0px solid #FFFFFF;
}


table#tb03{
border: 0px solid #FFFFFF;
}

table#tb03 th{
border: 0px solid #FFFFFF;
}

table#tb03 td{
border: 0px solid #FFFFFF;
}

table#tb03 tr{
border: 0px solid #FFFFFF;
}



table#tb04{
border: 0px solid #FFFFFF;
}

table#tb04 th{
border: 0px solid #FFFFFF;
}

table#tb04 td{
border: 0px solid #FFFFFF;
}

table#tb04 tr{
border: 0px solid #FFFFFF;
}

div#HomeMain
{
    padding: 50px;
    width: 1000px;
}

a:link, a:visited 
{
    color: #808080;

}


div#login
{
    height: 1150px;

}

div#loginP
{
    float: left;
    width: 400px;
    height: 300px;
    padding-top: 100px;
    padding-right: 100px;
    background-image: url(images/loginbg.gif);
    background-position: top;
    background-repeat:no-repeat;
    position: relative;

}

div#loginB
{

    float: right;
    width: 350px;
    height: 300px;
    padding-top: 100px;
    padding-right: 150px;
    background-image: url(images/loginbg.gif);
    background-position: top;
    background-repeat:no-repeat;
        position: relative;
}

div#loginS
{
    float: left;
    width: 350px;
    height: 300px;
    padding-top: 100px;
    padding-right: 150px;
    background-image: url(images/loginbg.gif);
    background-position: top;
    background-repeat:no-repeat;
    position:relative;

}

div#loginA
{
    float: right;
    width: 350px;
    height: 300px;
    padding-top: 100px;
    padding-right: 150px;
    background-image: url(images/loginbg.gif);
    background-position: top;
    background-repeat:no-repeat;
    position:relative;
}


.block 
{
    height: 520px;
    width: 1100px;
    padding: 0px 20px 50px 20px;
    float: left;
    position: relative;
    
    
}

.block a:link, .block a:visited 
{
    margin: 7px;
    font-family: "Trebuchet MS", sans-serif;
	font-weight:bold;
	font-size:15px;
    display: inline;
    line-height: 250px;	
	display: block;
    color: #4B4B4B;            
    text-decoration: none; 
    border: none;
	background-color:#E9E9E9;
	width: 259px;
	text-align: center;
	float: left;
	border-width:0px;
	border-color: #FFFFFF;
	border-style:solid;
	
}







.block2 
{
    height: 420px;
    width: 1100px;
    padding: 0px 20px 20px 20px;
    float: left;
    
}

.block2 a:link, .block2 a:visited 
{
    margin: 7px;
    font-family: "Trebuchet MS", sans-serif;
	font-weight:bold;
	font-size:15px;
    display: inline;
    line-height: 200px;	
	display: block;
    color: #4B4B4B;            
    text-decoration: none; 
    border: none;
    background-image: url(images/sblockbg.gif);
	/*background-color:#E9E9E9;*/
	width: 350px;
	text-align: center;
	float: left;
	border-width:0px;
	border-color: #FFFFFF;
	border-style:solid;
	
}

/*
.block2 a:hover, .block2 a:active {
    color: #FFFFFF;
	background-color:#97C7FE;	
}
*/




div#homebleft
{
    margin-top: 40px;
    padding-top: 30px;    
    padding-left: 35px;    
    float: left;
    width: 335px;
    height: 270px;
    background-image: url(images/homebleft.jpg);
    background-position: top;
    background-repeat:no-repeat;

}


div#homebright
{
    margin: 40px 0px 0px 0px;
    padding: 30px 20px 0px 30px;
    float: right;
    width: 560px;
    height: 270px;
    background-image: url(images/homebright.jpg);
    background-position: top;
    background-repeat:no-repeat;
    font-size: 16px;
    font-family: Arial;
    font-style:italic;
    position: relative;
    line-height: 18px;

}





div#center {
     position:absolute;
     width:300px;
     height:300px;
     z-index:15;
     top:50%;
     left:50%;
     margin:-200px 0 0 -100px;
     background:#DBE2ED;
}

.button 
{
    
	
	
	color:#CCCCCC;
	text-transform:uppercase;

}

.button a:link, .button a:visited 
{
	padding: 15px 30px 15px 30px;
	display: inline;
    font-family: "Trebuchet MS", sans-serif;
	font-weight:bold;
	font-size:15px;
    color: #4B4B4B;            
    text-decoration: none; 
    border: none;
    margin: 0 62px 0 15px;		
    background-color:#C0C0C0;
    border-width: 1px;
	border-color: #FFFFFF;
	border-style:solid;
     
     
}

.button a:hover, .bar a:active {
    color: #FFFFFF;
	background-color:#194CDE;	
}



.bar {
	width: 1100px;
	height: 25px;
	text-align: center;
	color:#CCCCCC;
	text-transform:uppercase;
}

.bar a:link, .bar a:visited {
    text-decoration: none; 
    border: none;
    margin: 0 15px 0 15px;		
}

/*
.bar a:link, .bar a:visited {
	padding: 15px 50px 15px 50px;
	display: inline;
    font-family: "Trebuchet MS", sans-serif;
	font-weight:bold;
	font-size:15px;
    color: #4B4B4B;            
    text-decoration: none; 
    border: none;
    margin: 0 15px 0 15px;		
    background-color:#C0C0C0;
    border-width: 1px;
	border-color: #FFFFFF;
	border-style:solid;
	line-height: 50px;
}

.bar a:hover, .bar a:active {
    color: #FFFFFF;
	background-color:#194CDE;	
}

*/